.menu__toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  fill: #212121;
}

@media (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
  .menu {
    display: none;
  }
}

.menu__toggle:hover,
.menu__toggle:focus {
  fill: $color-accent;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 999;
  background-color: $color-background-primary;
  transform: translateY(-100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.is-open {
  transform: translateY(0);
}

.menu__container {
  position: relative;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
}

.menu__container .menu__toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.menu__mobile {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 300px;
  flex-grow: 1;
}

.menu__link {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  color: $color-title;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  &--active {
    color: $color-accent;
  }

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.menu-contaсts {
  @extend %list;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.menu-contaсts__link {
  @extend %link;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $color-text-primary;

  &:hover,
  &:focus {
    color: $color-accent;
  }

  &--size {
    font-size: 24px;
  }
}

.menu-social {
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  &__link {
    @extend %link;
    color: $color-accent;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
    padding-right: 10px;

    &--first {
      padding-left: 0;
    }
    &--last {
      padding-right: 0;
      border: none;
    }
  }
}

// .menu {
//   display: flex;
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }

// @media (max-width: 767px) {
//   .menu {
//     display: none;
//   }
// }

// .menu .link {
//   padding: 10px;
//   color: inherit;
//   text-decoration: none;
// }

// .menu .link:hover,
// .menu .link:focus {
//   text-decoration: underline;
// }
