.product {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: column;
  align-items: stretch;

  @media screen and (min-width: $table) {
    flex-direction: row;
  }
}

.product__item {
  width: 100%;
  max-width: 450px;
  border: 1px solid #eeeeee;

  @media screen and (min-width: $table) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 60px) / 3);
  }

  transition: box-shadow var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.product_img {
  width: 100%;
}

.product__link {
  @extend %link;
}

.product__example {
  position: relative;
  overflow: hidden;
}

.product__info {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  transform: translateY(calc(100% + 1px));
  transition: transform var(--transition-duration) var(--transition-timing-function);

  padding: 63px 24px;

  color: $color-white;
  background-color: rgba(33, 150, 243, 0.9);

  .product__item:hover &,
  .product__item:focus & {
    transform: translateY(0);
  }
}

.product__description {
  font-size: 18px;
  line-height: 1.5555;
}

.product__link {
  color: inherit;
}

.product__meta {
  padding: 20px 24px;
}

.product__title {
  margin-bottom: 4px;

  font-weight: $font-weight-title;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: $color-title;
}

.product__classifier {
  font-size: 16px;
  line-height: 1.87;
}
